header{
  margin: 2rem;
  width: 100%;
}
li img{
  width: 15px;
  height:15px;
}
.navigation{
  position: relative;
  top: 0px;
  right: 2px;
  width: 100%;
  font-size: 13px;
  text-decoration: none;
}
ul{
  list-style-type: none;
  padding: 0;
  text-align: right;
}
li{
  margin: 20px 15px 0px 0px;
}
#button-signin{
  margin-right: 30px;
  background-color: #4285f4;
  color: #fff;
  font-weight: bold;
  line-height: 28px;
  display: inline-block;
  border: 1px solid #4285f4;
  border-radius: 2px;
  padding: 0 12px;
}
#search-box{
  position: relative;
  width: 500px;
  height: 44px;
  left: 50%;
  margin-left: -250px;
  margin-top: 30px;
  border: 1px solid #E7E7E7;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0.5px #ccc;
  background-size: 30px;
  background-position: 98% 50%;
  font-size: 16px;
}
.search{
  display: block;
}
input[type="text"]{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
}
.bott-nav{
  display: inline;
  background-color:
  bottom: 0;
  width: 100%;
  position: absolute;
}
#l-bott-nav{
  float: left;
}
#r-bott-nav{
  float: right;
}
#search-box{
  border: medium;
}
}
input[type="submit"]:hover{
  background-color: #f8f8f8;
  height: 36px;
  line-height: 27px;
  border: 1px solid #c6c6c6;
  color: #757575;
  font-weight: bold;
  padding: 0 16px;
  margin: 11px 4px;
  min-width: 54px;
  text-align: center;
}
input[type="submit"]{
  background-color: #f2f2f2;
  height: 36px;
  line-height: 27px;
  border: 1px solid #f2f2f2;
  color: #757575;
  font-weight: bold;
  padding: 0 16px;
  margin: 11px 4px;
  min-width: 54px;
  text-align: center;
}
li{
  display: inline;
}
.logo{
  position: relative;
  padding-top: 109px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
a{
  color: black;
  text-decoration: none;
  font-size: 13px;
}
a:hover{
  opacity: .85;
  text-decoration: underline;
}
.body{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}
body{
  font: arial,sans-serif;
}
